.form__title {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 18px;
  line-height: 122%;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 28px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;

    font-size: 32px;
    line-height: 112%;
  }
}

.form__title--light {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: $color-main-basic;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;

    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;

    font-size: 32px;
    line-height: 112%;
  }
}

.form__intro {
  margin: 0;
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $color-main-light;

  opacity: 0.9;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;

    font-size: 16px;
    line-height: 125%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;

    line-height: 162%;
  }
}

.form__intro--light {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: $color-main-dark;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 33px;

    font-size: 16px;
    line-height: 125%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;

    font-size: 16px;
    line-height: 162%;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;

  gap: 11px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    gap: 12px;
  }
}

.form__item-light {
  margin-bottom: 15px;

  gap: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 13px;
  }
}

.form__item-privacy {
  flex-direction: row;
  align-items: center;
  margin-bottom: 19px;

  gap: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.form__label {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: $color-main-light;

  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 143%;
  }

  @media (min-width: $desktop-width) {
    line-height: 128%;
  }
}

.form__label-light {
  font-size: 14px;
  line-height: 100%;
  color: $color-main-dark;

  opacity: 0.8;
}

.form__item:hover .form__label,
.form__item-light:hover .form__label-light {
  opacity: 1;
}

.form__item:active .form__label,
.form__item:focus .form__label,
.form__item:focus-visible .form__label,
.form__item-light:active .form__label-light,
.form__item-light:focus .form__label-light,
.form__item-light:focus-visible .form__label-light {
  outline: none;
  opacity: 1;
}

.form__item:disabled .form__label,
.form__item--disabled .form__label,
.form__item-light:disabled .form__label-light,
.form__item-light--disabled .form__label-light {
  opacity: 0.6;
}

.form__item:invalid .form__label,
.form__item--invalid .form__label,
.form__item-light:invalid .form__label-light,
.form__item-light--invalid .form__label-light {
  opacity: 0.8;
}

.form__input {
  width: 100%;
  min-height: 50px;
  padding: 16px 25px;

  color: $color-basic-light;

  background-color: transparent;
  border: 1px solid rgba($color-basic-light, 0.3);
  border-radius: 8px;

  appearance: none;
}

.form__input-light {
  min-height: 44px;
  padding: 13px 25px;

  color: $color-main-dark;

  border: 1px solid rgba($color-main-dark, 0.3);

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }
}

.form__input-message {
  height: 94px;
  padding: 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 88px;
  }

  @media (min-width: $desktop-width) {
    height: 90px;
  }
}

.form__item:hover .form__input,
.form__item:hover .form__select-button {
  border: 1px solid rgba($color-basic-light, 1);
}

.form__item-light:hover .form__input-light,
.form__item-light:hover .form__select-button-light {
  border: 1px solid rgba($color-main-dark, 1);
}

.form__item:active .form__input,
.form__item:focus .form__input,
.form__item:focus-visible .form__input,
.form__item:focus-within .form__input,
.form__item:active .form__select-button,
.form__item:focus .form__select-button,
.form__item:focus-visible .form__select-button,
.form__item:focus-within .form__select-button {
  border: 1px solid rgba($color-basic-light, 1);
  outline: none;
}

.form__item-light:active .form__input-light,
.form__item-light:focus .form__input-light,
.form__item-light:focus-visible .form__input-light,
.form__item-light:focus-within .form__input-light,
.form__item:active .form__select-button-light,
.form__item:focus .form__select-button-light,
.form__item:focus-visible .form__select-button-light,
.form__item:focus-within .form__select-button-light {
  border: 1px solid rgba($color-main-dark, 1);
  outline: none;
}

.form__item:invalid .form__input,
.form__item--invalid .form__input,
.form__item:invalid .form__input-light,
.form__item--invalid .form__input-light,
.form__item:invalid .form__select-button,
.form__item--invalid .form__select-button,
.form__item:invalid .form__select-button-light,
.form__item--invalid .form__select-button-light {
  background-color: rgba(255, 94, 102, 0.2);
  border: 1px solid $color-form-error;
}

.form__item:disabled .form__input,
.form__item--disabled .form__input,
.form__item:disabled .form__select-button,
.form__item--disabled .form__select-button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba($color-basic-light, 0.4);
}

.form__item:disabled .form__input-light,
.form__item--disabled .form__input-light,
.form__item:disabled .form__select-button-light,
.form__item--disabled .form__select-button-light {
  background: rgba(169, 175, 183, 0.2);
  border: 1px solid rgba(169, 175, 183, 0.5);
}

.form__item-select {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    gap: 8px;
  }
}

.form__item-select.form__item-select-light {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    gap: 15px;
  }
}

.form__select-wrapper {
  position: relative;
}

.form__select-button,
.form__select-button-light {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96.2%;
  min-height: 52px;
  padding: 15px 40px 15px 25px;

  color: $color-basic-light;

  background-color: transparent;
  border: 1px solid rgba($color-basic-light, 0.3);
  border-radius: 8px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;

    width: 16px;
    height: 16px;

    background-image: url("../img/sprite/arrow-nav.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);

    transition: transform 300ms ease;

    stroke: $color-basic-light;
  }
}

.form__select-button-light {
  width: 100%;
  min-height: 44px;

  color: $color-main-dark;

  border: 1px solid rgba($color-main-dark, 0.3);

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  &::after {
    background-image: url("../img/sprite/arrow-nav-dark.svg");
  }
}

.form__select-button--empty {
  color: rgba(0, 0, 0, 0);
}

.form__select-button--selected {
  &::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.form__select-list,
.form__select-list-light {
  display: none;
}

.form__select-list-hidden {
  display: none;
}

.form__select-list--selected {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  left: 0;
  z-index: 99;

  display: block;
  width: 96.2%;
  max-height: 200px;
  padding: 0;
  overflow: auto;

  color: $color-main-dark;

  background-color: $color-basic-light;
  border-radius: 8px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__select-list--selected.form__select-list-light {
  width: 100%;

  border: 1px solid $color-main-dark;
}

.form__select-item {
  min-height: 48px;
  padding: 17px 20px;

  cursor: pointer;

  &:hover {
    color: $color-main-basic;
  }

  &:active,
  &:focus,
  &:focus-visible {
    color: $color-basic-light;

    background-color: $color-main-basic;
    outline: none;
  }
}

.form__select-item--selected {
  color: $color-basic-light;

  background-color: $color-main-basic;

  &:hover {
    color: $color-main-light;
  }
}

.form__item-privacy-light {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.form__label-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: rgba($color-basic-light, 0.9);

  @media (min-width: $tablet-width) {
    line-height: 100%;
  }
}

.form__label-privacy-light {
  color: rgba($color-main-dark, 0.9);
}

.form__label-privacy-light br {
  display: none;
}

.form__label-privacy br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__input-checkbox {
  position: relative;

  flex-shrink: 0;
  align-self: center;
  width: 20px;
  height: 20px;
  min-height: 0;
  padding: 0;

  background-color: $color-basic-light;
  border-color: $color-basic-light;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form__input-checkbox-light {
  background-color: $color-main-basic;
  border-color: $color-main-basic;
}

.form__input-checkbox:checked {
  background-color: $color-basic-light;
}

.form__input-checkbox.form__input-checkbox-light:checked {
  border-color: rgba($color-main-dark, 0.3);
}

.form__input-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-image: url("../img/sprite/check-tick.svg");
  transform: translate(-50%, -50%);
}

.form__input-checkbox.form__input-checkbox-light:checked::after {
  background-image: url("../img/sprite/check-tick-black.svg");
  opacity: 0.8;
}

.form__item-privacy:hover .form__input-checkbox:checked,
.form__item-privacy:focus .form__input-checkbox:checked,
.form__item-privacy:focus-visible .form__input-checkbox:checked {
  background-color: transparent;
  outline: none;
}

.form__item-privacy:hover .form__input-checkbox:checked::after,
.form__item-privacy:focus .form__input-checkbox:checked::after,
.form__item-privacy:focus-visible .form__input-checkbox:checked::after {
  background-image: url("../img/sprite/check-tick-white.svg");
}

.form__item-privacy-light:hover .form__input-checkbox-light:checked,
.form__item-privacy-light:focus .form__input-checkbox-light:checked,
.form__item-privacy-light:focus-visible .form__input-checkbox-light:checked {
  border-color: rgba($color-main-dark, 1);
  outline: none;
}

.form__item-privacy-light:hover .form__input-checkbox-light:checked::after,
.form__item-privacy-light:focus .form__input-checkbox-light:checked::after,
.form__item-privacy-light:focus-visible
  .form__input-checkbox-light:checked::after {
  background-image: url("../img/sprite/check-tick-black.svg");
  opacity: 1;
}

.form__item-privacy:disabled .form__input-checkbox:checked::after,
.form__item-privacy--disabled .form__input-checkbox:checked::after {
  background-image: url("../img/sprite/check-tick-white.svg");
  opacity: 1;
}

.form__item-privacy:disabled .form__input-checkbox:checked,
.form__item-privacy--disabled .form__input-checkbox:checked {
  background-color: $color-disabled;
  border-color: $color-disabled;
}

.form__item:disabled .form__item-privacy .form__input-checkbox,
.form__item--disabled .form__item-privacy .form__input-checkbox {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid $color-basic-light;
}

.form__item:invalid .form__item-privacy .form__input-checkbox,
.form__item--invalid .form__item-privacy .form__input-checkbox {
  background-color: rgba($color-form-error, 0.2);
  border: 1px solid rgba($color-form-error, 0.7);
}

.form__button {
  width: 96.2%;
  min-height: 44px;

  @media (min-width: $tablet-width) {
    width: 97%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__button.form__button-light {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 42px;
  padding: 4px 3px 2px 20px;

  gap: 20px;
  grid-template-columns: 1fr 34px;

  @media (min-width: $tablet-width) {
    width: 55%;
    min-height: 56px;
    margin: 0 auto;
    padding: 4px 4px 4px 31px;

    text-align: center;

    gap: 30px;
    grid-template-columns: 1fr 46px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 58px;
    padding: 5px 5px 5px 30px;
  }
}
