.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 11px;

  background-color: $color-basic-light;
  border-radius: 50%;
  cursor: default;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}
