@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "manrope";

  font-display: swap;
  src: url("../fonts/manrope-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "manrope";

  font-display: swap;
  src: url("../fonts/manrope-regular-font.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "manrope";

  font-display: swap;
  src: url("../fonts/manrope-medium.woff2") format("woff2");
}
